.Footer{
  padding: 20px;
  
  &__list {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 15px;
    
    li a{
      color: $primary-font-color;
      text-decoration: none;
      
      &:hover{
        text-decoration: underline;
      }
    }
    @media screen and(min-width: 576px){
      grid-template-columns: repeat(3, auto);
    }
    @media screen and(min-width: 768px){
      justify-content: left;
    }
  }
}