.Layout main{
  min-height: calc(100vh - 180px);
  margin-bottom: 20px;
  
  &.justify-flex{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &.justify-grid{
    display: grid;
    justify-content: center;
    align-content: center;
  }
}
.Layout{
  &.purple{
    background-color: $brand-color;
  }
  &.gradient{
    background-image: $brand-color-gradient;
  }
}

//header and footer height = 160px
//margin-bottom = 20px
//160px + 20px = 180px