.Media{
  $Media-border-radius: 20px;
  position: relative;
  border-radius: $Media-border-radius;  
  height: 250px;
  width: 200px;
  background-color: rgba(0,0,0,0.5);
  transform-origin: left center;
  transition: .3s;
  
  &__image{
    border-radius: $Media-border-radius;  
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  &__details{
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: .3s;
    border-radius: $Media-border-radius;  
    // background-image: linear-gradient(0deg, #2196f3, rgba(0, 0, 0, 0));
    // background-image: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background-image: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    display: grid;
    font-size: 0.9rem;
    grid-template-columns: 1fr;
    justify-content: left;
    align-content: end;
    color: $primary-font-color;
    
    &--features{
      margin: 3px 0;
    }
  }
  
  @media screen and (min-width: 992px){
    &__details{
      opacity: 0;
    }
    &:hover &__details{
      opacity: 1;
    }
    &:hover ~ .Media{
      transform: translateX(100px);
    }
  }
}

.MediaButton{
  width: 20px;
  margin-right: 5px;
  margin-bottom: 2px;
  cursor: pointer;
}