.Playlist{
  margin-top: 10px;
  padding: 0px;
  height: 260px;
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  align-content: center;
  transition: .3s;
  gap: 15px;
  
  &:hover{
    height: 420px;
  }
  &:hover .Media{
    opacity: .3;
  }
  &:hover .Media:hover{
    transform: scale(1.5);
    opacity: 1;
  }
  
  
}