.FormatForm{
  min-width: 320px;
  border-radius: 40px;
  padding: 40px 20px;
  color: $primary-font-color;
  
  @media screen and (min-width: 576px){
    min-width: 440px;
    padding: 40px;
    border: 2px solid $primary-font-color;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  &__title{
    padding: 10px 0 40px 0;
    font-size: 2.4rem;
  }
  &__Form{
    display: grid;
    grid-template-columns: minmax(280px, 480px);
    gap: 20px;
    
    @media screen and (min-width: 576px){
      grid-template-columns: 1fr;
    }
    
    &--input{
      padding: 15px;
      font-size: 1.6rem;
      width: 100%;
      border-bottom: 2px solid $primary-font-color;
      
      &::placeholder{
        color: $primary-font-color;
      }
    }
  }
  &__Links{
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    
    &.center{
      display: flex;
      justify-content: center;
    }
    
    &--between{
      display: flex;
      justify-content: space-between;
    }
    &--login-with{
      display: flex;
      flex-direction: column;
    }
    &--login-with img{
      width: 30px;
    }
    &--login-with a{
      margin: 5px 0;
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      gap: 5px;
    }
    &--start a{
      font-weight: bold;
    }
    
    input{
      margin-right: 5px;
    }
  }
  
  a{
    text-decoration: none;
  }
}